@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		scroll-behavior: smooth;
		scroll-padding-top: 80px;
	}

	html[data-base-ui-scroll-locked] {
		scroll-behavior: auto;
	}

	:root {
		/* Global Colors */
		--white: #ffffff;
		--black: #000000;

		/* Blue */
		--blue-10: #f2f7ff;
		--blue-20: #e5f0ff;
		--blue-30: #c2dcff;
		--blue-40: #75b1ff;
		--blue-50: #308aff;
		--blue-60: #0a69fa;
		--blue-70: #0050c7;
		--blue-80: #003c94;
		--blue-90: #042961;
		--blue-100: #001a33;

		/* Green */
		--green-10: #e8faf0;
		--green-20: #d7f5e5;
		--green-30: #9bebbf;
		--green-40: #51c285;
		--green-50: #23a15d;
		--green-60: #008557;
		--green-70: #006341;
		--green-80: #0d4f2b;
		--green-90: #05381d;
		--green-100: #021f10;

		/* Grey */
		--grey-10: #f4f4f5;
		--grey-20: #e4e4e7;
		--grey-30: #d4d4d8;
		--grey-40: #a1a1aa;
		--grey-50: #71717a;
		--grey-60: #52525b;
		--grey-70: #3f3f46;
		--grey-80: #27272a;
		--grey-90: #18181b;
		--grey-100: #09090b;

		/* Red */
		--red-10: #fff3f0;
		--red-20: #ffe9e3;
		--red-30: #ffcec2;
		--red-40: #ff9175;
		--red-50: #ff5226;
		--red-60: #db340b;
		--red-70: #ad1d00;
		--red-80: #8a1700;
		--red-90: #611000;
		--red-100: #290800;

		/* Yellow */
		--yellow-10: #fff9e6;
		--yellow-20: #ffefb3;
		--yellow-30: #ffd84d;
		--yellow-40: #ed9b16;
		--yellow-50: #d67507;
		--yellow-60: #b26205;
		--yellow-70: #824b0d;
		--yellow-80: #663c0c;
		--yellow-90: #4d2b05;
		--yellow-100: #331c03;

		/* Accent */
		--accent: var(--grey-100);

		/* Link */
		--link-fg: var(--accent);

		--background: var(--grey-10);
		--foreground: var(--grey-100);
		--accent-fg: var(--grey-10);

		--subtle: var(--grey-20);
		--subtle-fg: var(--grey-50);

		--muted: var(--grey-30);
		--muted-fg: var(--grey-60);

		--success: var(--green-20);
		--success-fg: var(--green-60);

		--danger: var(--red-20);
		--danger-fg: var(--red-60);

		--warning: var(--yellow-20);
		--warning-fg: var(--yellow-60);

		--info: var(--blue-20);
		--info-fg: var(--blue-60);
	}

	/* Dark theme defaults */
	:root.dark {
		--accent: var(--grey-10);

		--background: var(--grey-100);
		--foreground: var(--grey-10);
		--accent-fg: var(--grey-100);

		--subtle: var(--grey-90);
		--subtle-fg: var(--grey-50);

		--muted: var(--grey-80);
		--muted-fg: var(--grey-40);

		--success: var(--green-70);
		--success-fg: var(--green-30);

		--danger: var(--red-80);
		--danger-fg: var(--red-40);

		--warning: var(--yellow-70);
		--warning-fg: var(--yellow-20);

		--info: var(--blue-80);
		--info-fg: var(--blue-30);
	}

	body {
		@apply bg-bg;
	}

	.Root {
		@apply bg-bg text-fg antialiased isolate min-h-screen;
	}

	.container {
		@apply px-4 md:px-0 max-w-screen-2xl;
	}

	/* Custom Scrollbar Styles */
	* {
		scrollbar-width: thin;
		scrollbar-color: var(--subtle) transparent;
	}
	::-webkit-scrollbar {
		width: 4px;
	}
	::-webkit-scrollbar-track {
		background: transparent;
	}
	::-webkit-scrollbar-thumb {
		background: var(--subtle);
		border-radius: 4px;
	}
}

@layer utilities {
	/* Hide scrollbar for Chrome, Safari and Opera */
	.scrollbar-hidden::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.scrollbar-hidden {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}
