@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: #f4f4f5;
		--foreground: #09090b;
		--card: #f4f4f5;
		--card-foreground: #09090b;
		--popover: #f4f4f5;
		--popover-foreground: #09090b;
		--primary: #09090b;
		--primary-foreground: #f4f4f5;
		--secondary: #e4e4e7;
		--secondary-foreground: #71717a;
		--muted: #d4d4d8;
		--muted-foreground: #52525b;
		--accent: #d4d4d8;
		--accent-foreground: #09090b;
		--destructive: #e7000b;
		--destructive-foreground: #f4f4f5;
		--danger: #f5eaeb;
		--danger-foreground: #e7000b;
		--danger-border: #e7000b;
		--warning: #f7f3db;
		--warning-foreground: #d18700;
		--warning-border: #d18700;
		--info: #e7eef8;
		--info-foreground: #165dfb;
		--info-border: #165dfb;
		--success: #e0f4ec;
		--success-foreground: #009966;
		--success-border: #009966;
		--border: #d4d4d8;
		--input: #d4d4d8;
		--ring: #09090b;
		--chart-1: #00bc7d;
		--chart-2: #00b8db;
		--chart-3: #615fff;
		--chart-4: #ff6900;
		--chart-5: #ff2056;
		--radius: 0.5rem;
	}
	.dark {
		--background: #09090b;
		--foreground: #f4f4f5;
		--card: #09090b;
		--card-foreground: #f4f4f5;
		--popover: #09090b;
		--popover-foreground: #f4f4f5;
		--primary: #f4f4f5;
		--primary-foreground: #09090b;
		--secondary: #18181b;
		--secondary-foreground: #71717a;
		--muted: #27272a;
		--muted-foreground: #a1a1aa;
		--accent: #27272a;
		--accent-foreground: #f4f4f5;
		--destructive: #e7000b;
		--destructive-foreground: #f4f4f5;
		--danger: #271315;
		--danger-foreground: #ff6467;
		--danger-border: #ff6467;
		--warning: #262010;
		--warning-foreground: #ffb900;
		--warning-border: #ffb900;
		--info: #101d28;
		--info-foreground: #73d4ff;
		--info-border: #73d4ff;
		--success: #10201c;
		--success-foreground: #00d492;
		--success-border: #00d492;
		--border: #27272a;
		--input: #27272a;
		--ring: #f4f4f5;
		--chart-1: #00bc7d;
		--chart-2: #00b8db;
		--chart-3: #615fff;
		--chart-4: #ff6900;
		--chart-5: #ff2056;
	}
}

@layer base {
	* {
		@apply border-border;
	}

	html {
		@apply scroll-smooth;
	}

	html[data-base-ui-scroll-locked] {
		@apply scroll-auto;
	}

	html.dark .shiki,
	html.dark .shiki span {
		color: var(--shiki-dark) !important;
	}

	body {
		@apply bg-background text-foreground;
	}

	.Root {
		@apply bg-background isolate min-h-screen;
	}
}

@layer base {
	* {
		scrollbar-width: thin;
		scrollbar-color: var(--muted) transparent;
	}
	::-webkit-scrollbar {
		width: 4px;
	}
	::-webkit-scrollbar-track {
		background: transparent;
	}
	::-webkit-scrollbar-thumb {
		background: var(--muted);
		border-radius: 4px;
	}
}
