html.dark code[data-theme*=" "],
html.dark .shiki,
html.dark .shiki span,
html.dark code[data-theme*=" "] span {
	color: var(--shiki-dark) !important;
}

html.light code[data-theme*=" "],
html.light code[data-theme*=" "] span {
	color: var(--shiki-light) !important;
}

.command-block pre {
	padding: 0 !important;
	background-color: var(--background);
}

.command-block code {
	padding-top: 0.125rem !important;
	padding-bottom: 0.125rem !important;
	font-size: 0.75rem !important;
	line-height: 1rem !important;
	font-weight: 500 !important;
}

[data-rehype-pretty-code-figure] pre {
	max-height: 600px;
	overflow: auto;
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: var(--background) !important;
}

[data-rehype-pretty-code-figure] code {
	font-size: 0.75rem;
	line-height: 1rem;
	background-color: var(--background);
	font-weight: 500;
	tab-size: 2;
	-moz-tab-size: 2;
}

[data-rehype-pretty-code-figure] [data-line] {
	padding-left: 1rem;
	padding-right: 1rem;
	min-height: 1rem;
	padding-top: 0.125rem;
	padding-bottom: 0.125rem;
	width: 100%;
	display: inline-block;
}

[data-rehype-pretty-code-figure] code > [data-highlighted-line] {
	background-color: var(--muted);
	width: 100%;
}
