html.dark code[data-theme*=" "],
html.dark .shiki,
html.dark .shiki span,
html.dark code[data-theme*=" "] span {
	color: var(--shiki-dark) !important;
}

html.light code[data-theme*=" "],
html.light code[data-theme*=" "] span {
	color: var(--shiki-light) !important;
}

.command-block pre {
	@apply !p-0 bg-background;
}

.command-block code {
	@apply !py-0.5 !text-xs !font-medium;
}

[data-rehype-pretty-code-figure] pre {
	@apply max-h-[600px] overflow-auto py-4 !bg-background;
}

[data-rehype-pretty-code-figure] code {
	@apply text-xs bg-background font-medium;
	tab-size: 2;
	-moz-tab-size: 2;
}

[data-rehype-pretty-code-figure] [data-line] {
	@apply px-4 min-h-[1rem] py-0.5 w-full inline-block;
}

[data-rehype-pretty-code-figure] code > [data-highlighted-line] {
	@apply bg-muted w-full;
}
