:root {
	--primary-main: #f4f4f5;
	--gray-main: #10131e;
	--stone-main: #181615;
	--slate-main: #0f1223;
	--zinc-main: #151517;
	--neutral-main: #161616;
	--red-main: #ed2100;
	--blue-main: #0f52ba;
	--green-main: #008000;
	--amber-main: #ffbf00;
	--yellow-main: #ffde21;
	--purple-main: #9d00ff;
	--pink-main: #e01384;
	--lime-main: #89f336;
}

/* Gray Theme */
.dark.gray-theme {
	--background: #02040a;
	--foreground: #f8fafc;
	--card: #02050e;
	--card-foreground: #f8fafc;
	--popover: #02050e;
	--popover-foreground: #f8fafc;
	--primary: #f8fafc;
	--primary-foreground: #02040a;
	--secondary: #10131e;
	--secondary-foreground: #6b7280;
	--muted: #1c202a;
	--muted-foreground: #9ca3af;
	--accent: #1c202a;
	--accent-foreground: #f8fafc;
	--destructive: #7f1d1d;
	--destructive-foreground: #f8fafc;
	--border: #1c202a;
	--input: #02050e;
	--ring: #f8fafc;
}

/* Stone Theme */
.dark.stone-theme {
	--background: #070605;
	--foreground: #f8fafc;
	--card: #090807;
	--card-foreground: #f8fafc;
	--popover: #090807;
	--popover-foreground: #f8fafc;
	--primary: #f8fafc;
	--primary-foreground: #070605;
	--secondary: #181615;
	--secondary-foreground: #78716c;
	--muted: #242222;
	--muted-foreground: #a8a29e;
	--accent: #242222;
	--accent-foreground: #f8fafc;
	--destructive: #7f1d1d;
	--destructive-foreground: #f8fafc;
	--border: #242222;
	--input: #090807;
	--ring: #f8fafc;
}

/* Slate Theme */
.dark.slate-theme {
	--background: #01030d;
	--foreground: #f8fafc;
	--card: #020511;
	--card-foreground: #f8fafc;
	--popover: #020511;
	--popover-foreground: #f8fafc;
	--primary: #f8fafc;
	--primary-foreground: #01030d;
	--secondary: #0f1223;
	--secondary-foreground: #64748b;
	--muted: #1b1f2e;
	--muted-foreground: #94a3b8;
	--accent: #1b1f2e;
	--accent-foreground: #f8fafc;
	--destructive: #7f1d1d;
	--destructive-foreground: #f8fafc;
	--border: #1b1f2e;
	--input: #020511;
	--ring: #f8fafc;
}

/* Zinc Theme */
.dark.zinc-theme {
	--background: #050506;
	--foreground: #f8fafc;
	--card: #070708;
	--card-foreground: #f8fafc;
	--popover: #070708;
	--popover-foreground: #f8fafc;
	--primary: #f8fafc;
	--primary-foreground: #050506;
	--secondary: #151517;
	--secondary-foreground: #71717a;
	--muted: #222223;
	--muted-foreground: #a1a1aa;
	--accent: #222223;
	--accent-foreground: #f8fafc;
	--destructive: #7f1d1d;
	--destructive-foreground: #f8fafc;
	--border: #222223;
	--input: #070708;
	--ring: #f8fafc;
}

/* Neutral Theme */
.dark.neutral-theme {
	--background: #060606;
	--foreground: #f8fafc;
	--card: #080808;
	--card-foreground: #f8fafc;
	--popover: #080808;
	--popover-foreground: #f8fafc;
	--primary: #f8fafc;
	--primary-foreground: #060606;
	--secondary: #161616;
	--secondary-foreground: #737373;
	--muted: #222222;
	--muted-foreground: #a3a3a3;
	--accent: #222222;
	--accent-foreground: #f8fafc;
	--destructive: #7f1d1d;
	--destructive-foreground: #f8fafc;
	--border: #222222;
	--input: #080808;
	--ring: #f8fafc;
}

.red-theme {
	--primary: #ed2100 !important;
	--primary-foreground: #f4f4f5 !important;
}

.blue-theme {
	--primary: #0f52ba !important;
	--primary-foreground: #f4f4f5 !important;
}

.green-theme {
	--primary: #008000 !important;
	--primary-foreground: #f4f4f5 !important;
}

.amber-theme {
	--primary: #ffbf00 !important;
	--primary-foreground: #392a00 !important;
}

.yellow-theme {
	--primary: #ffde21 !important;
	--primary-foreground: #403600 !important;
}

.purple-theme {
	--primary: #9d00ff !important;
	--primary-foreground: #f4f4f5 !important;
}

.pink-theme {
	--primary: #e01384 !important;
	--primary-foreground: #f4f4f5 !important;
}

.lime-theme {
	--primary: #89f336 !important;
	--primary-foreground: #1d3e04 !important;
}

.radius-none {
	--radius: 0 !important;
}

.radius-small {
	--radius: 0.25rem !important;
}

.radius-medium {
	--radius: 0.5rem !important;
}

.radius-large {
	--radius: 0.75rem !important;
}

.radius-full {
	--radius: 1rem !important;
}
